@import "../../../css/base.css";
#nav_bar {
  width: 100%;
  height: 140px;
}
#nav_bar .cotent {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#nav_bar .cotent .top {
  flex: 1;
  display: flex;
}
#nav_bar .cotent .top .left {
  flex: 1;
}
#nav_bar .cotent .top .left .logo {
  width: 193px;
  height: 65px;
}
#nav_bar .cotent .top .left .logo a {
  width: 100%;
  height: 100%;
  font-size: 0;
  background-image: url(../../../asset/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  background-position: center center;
}
#nav_bar .cotent .top .center {
  flex: 2;
}
#nav_bar .cotent .top .center .search_bar {
  width: 400px;
  height: 40px;
  background-color: darkcyan;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  border: 1px solid #999;
}
#nav_bar .cotent .top .center .search_bar .category {
  flex: 1;
  background-color: tomato;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
}
#nav_bar .cotent .top .center .search_bar .category select {
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #666;
  padding-left: 10px;
}
#nav_bar .cotent .top .center .search_bar .keywords {
  flex: 4;
}
#nav_bar .cotent .top .center .search_bar .keywords input {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  color: #666;
  font-size: 14px;
}
#nav_bar .cotent .top .center .search_bar .submit {
  flex: 1;
  background-color: green;
  border-radius: 0 20px 20px 0;
}
#nav_bar .cotent .top .center .search_bar .submit input {
  height: 100%;
  width: 100%;
  border-radius: 0 20px 20px 0;
  border: none;
  outline: none;
  background-color: #51b257;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
#nav_bar .cotent .top .right {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}
#nav_bar .cotent .top .right .intro {
  width: fit-content;
  height: 60px;
  display: flex;
  position: relative;
}
#nav_bar .cotent .top .right .intro:hover .operation-pane {
  display: block;
}
#nav_bar .cotent .top .right .intro .user {
  height: 32px;
  width: fit-content;
  align-items: center;
  display: flex;
}
#nav_bar .cotent .top .right .intro .user span {
  margin-right: 10px;
  font-size: 16px;
  color: #666;
}
#nav_bar .cotent .top .right .intro .user img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
#nav_bar .cotent .top .right .intro .operation-pane {
  width: 160px;
  height: fit-content;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  border: 1px solid #eee;
  z-index: 999;
}
#nav_bar .cotent .top .right .intro .operation-pane::after {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: -25px;
  right: 10px;
}
#nav_bar .cotent .top .right .intro .operation-pane .operation {
  padding: 5px;
  font-size: 14px;
  color: #666;
  box-shadow: 0 2px 10px 4px;
}
#nav_bar .cotent .top .right .intro .operation-pane .operation li {
  padding: 5px 0;
}
#nav_bar .cotent .top .right .intro .operation-pane .operation li:first-child {
  border-bottom: 1px solid #eaeaea;
}
#nav_bar .cotent .top .right .intro .operation-pane .operation li:last-child {
  border-top: 1px solid #eaeaea;
}
#nav_bar .cotent .top .right .intro .operation-pane .operation li:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}
#nav_bar .cotent .top .right .intro .operation-pane .operation li a {
  font-size: 14px;
  color: #666;
}
#nav_bar .cotent .bottom {
  height: 40px;
  display: flex;
}
#nav_bar .cotent .bottom .left {
  flex: 1;
}
#nav_bar .cotent .bottom .left .menu {
  display: flex;
  height: 100%;
}
#nav_bar .cotent .bottom .left .menu li {
  height: 40px;
  line-height: 30px;
  position: relative;
}
#nav_bar .cotent .bottom .left .menu li.current a,
#nav_bar .cotent .bottom .left .menu li:hover a {
  color: #51b257;
}
#nav_bar .cotent .bottom .left .menu li.current a::after,
#nav_bar .cotent .bottom .left .menu li:hover a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  height: 5px;
  display: block;
  background-color: #51b257;
}
#nav_bar .cotent .bottom .left .menu li > a {
  height: 100%;
  padding: 0 20px;
  font-size: 18px;
  color: #333;
  display: inline-block;
}
#nav_bar .cotent .bottom .right {
  flex: 1;
}
#nav_bar .cotent .bottom .right ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#nav_bar .cotent .bottom .right ul li {
  margin-left: 20px;
  line-height: 40px;
  text-align: center;
  position: relative;
}
#nav_bar .cotent .bottom .right ul li::before {
  padding-right: 5px;
}
#nav_bar .cotent .bottom .right ul li:hover .co_pane {
  display: block;
}
#nav_bar .cotent .bottom .right ul li .co_pane {
  width: 240px;
  border: 1px solid black;
  background-color: #fff;
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0px -1px 12px 3px grey;
  display: none;
}
#nav_bar .cotent .bottom .right ul li .co_pane .title {
  line-height: 26px;
  font-size: 14px;
  color: #333;
}
#nav_bar .cotent .bottom .right ul li .co_pane .subtitle {
  line-height: 24px;
  font-size: 12px;
  color: #666;
}
#nav_bar .cotent .bottom .right ul li .co_pane img {
  margin-top: 10px;
  width: 145px;
  height: 145px;
}
/*# sourceMappingURL=index.css.map */