@import "../../../css/base.css";
body {
  background-color: #f5f5f5;
}
.mini_search_bar {
  height: 60px;
  background-image: url(../../../asset/images/bg_nav_rep.png);
}
.mini_search_bar div.mini_content {
  height: 100%;
  display: flex;
}
.mini_search_bar div.mini_content .left {
  flex: 8;
  display: flex;
}
.mini_search_bar div.mini_content .left .logo {
  width: 193px;
  height: 60px;
}
.mini_search_bar div.mini_content .left .logo a {
  width: 100%;
  height: 100%;
  font-size: 0;
  background-image: url(../../../asset/images/logo-mini.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  background-position: center center;
}
.mini_search_bar div.mini_content .left .menu {
  display: flex;
  height: 100%;
}
.mini_search_bar div.mini_content .left .menu li {
  line-height: 60px;
  position: relative;
}
.mini_search_bar div.mini_content .left .menu li.current a,
.mini_search_bar div.mini_content .left .menu li:hover a {
  color: #51b257;
}
.mini_search_bar div.mini_content .left .menu li.current a::after,
.mini_search_bar div.mini_content .left .menu li:hover a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  height: 5px;
  display: block;
  background-color: #51b257;
}
.mini_search_bar div.mini_content .left .menu li > a {
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  display: inline-block;
}
.mini_search_bar div.mini_content .center {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini_search_bar div.mini_content .center .search_bar {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  border: 1px solid #999;
}
.mini_search_bar div.mini_content .center .search_bar .category {
  flex: 2;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
}
.mini_search_bar div.mini_content .center .search_bar .category select {
  background-color: #444;
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #fff;
  padding-left: 10px;
}
.mini_search_bar div.mini_content .center .search_bar .keywords {
  flex: 4;
}
.mini_search_bar div.mini_content .center .search_bar .keywords input {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  color: #666;
  font-size: 14px;
  background-color: #444;
}
.mini_search_bar div.mini_content .center .search_bar .submit {
  flex: 1;
  border-radius: 0 20px 20px 0;
}
.mini_search_bar div.mini_content .center .search_bar .submit input {
  height: 100%;
  width: 100%;
  border-radius: 0 20px 20px 0;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background-color: #444;
}
.mini_search_bar div.mini_content .right {
  flex: 5;
  display: flex;
  justify-content: flex-end;
}
.mini_search_bar div.mini_content .right .intro {
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.mini_search_bar div.mini_content .right .intro:hover .operation-pane {
  display: block;
}
.mini_search_bar div.mini_content .right .intro .user {
  height: 32px;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
}
.mini_search_bar div.mini_content .right .intro .user span {
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
}
.mini_search_bar div.mini_content .right .intro .user img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.mini_search_bar div.mini_content .right .intro .operation-pane {
  width: 160px;
  height: fit-content;
  background-color: #fff;
  position: absolute;
  bottom: -120px;
  left: 0;
  display: none;
  border: 1px solid #eee;
  z-index: 999;
}
.mini_search_bar div.mini_content .right .intro .operation-pane .operation {
  padding: 5px;
  font-size: 14px;
  color: #666;
  box-shadow: 0 2px 10px 4px;
}
.mini_search_bar div.mini_content .right .intro .operation-pane .operation li {
  padding: 5px 0;
}
.mini_search_bar div.mini_content .right .intro .operation-pane .operation li:first-child {
  border-bottom: 1px solid #eaeaea;
}
.mini_search_bar div.mini_content .right .intro .operation-pane .operation li:last-child {
  border-top: 1px solid #eaeaea;
}
.mini_search_bar div.mini_content .right .intro .operation-pane .operation li:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}
.mini_search_bar div.mini_content .right .intro .operation-pane .operation li a {
  font-size: 14px;
  color: #666;
}
.news_bar {
  min-width: 1205px;
  height: 50px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.04);
}
.news_bar .content {
  height: 100%;
}
.news_bar .content .de_content {
  display: flex;
  height: 100%;
}
.news_bar .content .de_content li {
  height: 100%;
  padding: 0 5px;
  display: flex;
}
.news_bar .content .de_content li a {
  display: block;
  line-height: 50px;
  font-size: 16px;
  color: #666;
}
.news_bar .content .de_content li a:hover {
  color: #51b257;
}
.news_bar .content .de_content li:not(:first-child)::before {
  content: ">";
  line-height: 50px;
}
.new_detail .title {
  font-size: 22px;
  color: #000;
  text-align: center;
}
.new_detail .time {
  font-size: 14px;
  color: #999;
  text-align: center;
}
.new_detail .content {
  min-height: 300px;
}
.new_bottom {
  margin-top: 50px;
  height: 185px;
  background-color: #474443;
  box-sizing: border-box;
}
.new_bottom .content {
  height: 100%;
  display: flex;
  padding-top: 40px;
  box-sizing: border-box;
}
.new_bottom .content .left {
  flex: 1;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new_bottom .content .left .intro {
  font-size: 14px;
  color: #fff;
}
.new_bottom .content .left .contract {
  display: flex;
}
.new_bottom .content .left .contract li {
  margin-right: 20px;
}
.new_bottom .content .left .contract li a {
  color: #fff;
  font-size: 14px;
}
.new_bottom .content .left .contract li a:hover {
  color: #51b257;
}
.new_bottom .content .left .brand {
  font-size: 14px;
  color: #999;
}
.new_bottom .content .right {
  flex: 1;
  height: 105px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new_bottom .content .right .ad_images {
  height: 46px;
  display: flex;
  justify-content: flex-end;
}
.new_bottom .content .right .ad_images .adl_images {
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 20px;
  background-image: url(../../../asset/images/layout_css_sprites2.png);
  background-position: -112px -74px;
  cursor: pointer;
}
.new_bottom .content .right .ad_images .adl_images:hover {
  background-position: -154px -174px;
}
.new_bottom .content .right .ad_images .adl_images:hover .ewm_pane {
  display: block;
}
.new_bottom .content .right .ad_images .adl_images .ewm_pane {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -125px;
  display: none;
}
.new_bottom .content .right .ad_images .adl_images .ewm_pane img {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.new_bottom .content .right .adr_images {
  position: relative;
  width: 46px;
  height: 46px;
  background-image: url(../../../asset/images/layout_css_sprites2.png);
  background-position: -220px -174px;
  cursor: pointer;
}
.new_bottom .content .right .adr_images:hover {
  background-position: -286px -174px;
}
.new_bottom .content .right .adr_images:hover .ewm_pane {
  display: block;
}
.new_bottom .content .right .adr_images .ewm_pane {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -125px;
  display: none;
}
.new_bottom .content .right .adr_images .ewm_pane img {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.new_bottom .content .server {
  font-size: 14px;
  color: #fff;
}
.new_bottom .content .server .time {
  font-size: 12px;
  color: #ddd;
  padding-left: 10px;
}
.new_bottom .content .tel {
  font-size: 19px;
  color: #fff;
  font-weight: bold;
}
.fix_bane {
  width: 50px;
  height: 200px;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.fix_bane .contact,
.fix_bane .app,
.fix_bane .back_top {
  width: 50px;
  height: 50px;
}
.fix_bane .contact {
  margin-bottom: 30px;
  background-image: url("../../../asset/images/layout_css_sprites2.png");
  background-position: -83px -177px;
}
.fix_bane .contact:hover {
  background-position: -11px -174px;
}
.fix_bane .app {
  background-image: url("../../../asset/images/layout_css_sprites.png");
  background-position: -4px -94px;
  position: relative;
}
.fix_bane .app:hover {
  background-color: #dddddd;
}
.fix_bane .app:hover .ewm_pane {
  display: block;
}
.fix_bane .app .ewm_pane {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  left: -125px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
.fix_bane .app .ewm_pane img {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.fix_bane .back_top {
  background-image: url("../../../asset/images/layout_css_sprites.png");
  background-position: -166px 2px;
}
/*# sourceMappingURL=index.css.map */